<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>table th, table td {padding: 15px;}</style>
    <title>MVC-Page</title>
</head>
<body>
<table th:border="1" >
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Operations</th>
    </tr>
    <tr th:each ="user : ${users}">

        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getSurname()}">Surname</td>
        <td th:utext="${user.getDepartment()}">Department</td>
        <td th:utext="${user.getSalary()}">Salary</td>
        <td>
            <a th:href="@{/{id}/edit(id= ${user.getId()})}"><input type="button" value="Update"></a>

<!--            <a th:href="@{/{id}/delete(id= ${user.getId()})}"><input type="button" value="Delete"></a>-->
            <form th:method="DELETE" th:action="@{/{id}/delete(id= ${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<input type="button" value="Add new user" onclick="window.location.href = '/new'">
</body>
</html>